
*{
	margin: 0;
	padding: 0;
}
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
li{
	list-style-type: none;

}
body{
	background-color: #F0F3EF;
}
.header{   /*头部通栏*/
	height: 80px;
	background-color: #3D0506;
}
.header-tu{ /*头部中间广告图*/
	width: 1190px;
	height: 80px;
	margin: 0 auto;
}
.nav{    /*小导航栏通栏*/
	height: 30px;
	border-bottom: 1px #ddd solid;
	background-color: #e3e4e5;
}
.zong{ /*小导航栏版心*/
	width: 1190px;
	height: 30px;
	margin: 0 auto;
}
/*小导航栏京东图片*/
.jdxiao{ 
	width: 188px;
	height: 170px;
	float: left;
}
.jdtu{
	width: 188px;
	height: 170px;
	float: right;
    box-shadow: 1px 0 7px 2px #ccc;
}
/*小导航栏京东图片结束*/
/*小导航栏右侧*/
.nav-hd{
	width: 1002px;
	height: 30px;
	float: left;
}
.nav-hd ul{
	width: 1002px;
	height: 30px;
}
.nav-hd li{

	float: right;
	/*height: 30px;*/
	color: #999;
	font-size: 10px;
	position: relative;
	padding-left: 7px;
	padding-right: 7px;
	/*box-sizing: border-box;*/
	border: 1px solid rgba(0,0,0,0);
	border-bottom: 0;
	z-index: 9999;
	
	/*padding-left: 10px;*/

}
.nav-hd li.spacer{
	width: 1px;
	height: 10px;
	background-color: #ccc;
	border: 0;
	padding: 0;
	margin: 0;
	margin: 11px 5px 0;
}
.nav-hd ul>li:nth-child(12):hover{
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
}
.mobile-pop{
	width: 192px;
	height: 277px;
	background-color: #fff;
	position: absolute;
	top: 29px;
	right: -1px;
	border: 1px solid #ccc;
	display: none;
}
.mobile-pop-item{
	width: 100%;
	height: 82px;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
    border-bottom: 1px solid #E7E7E7;
}
.mobile-pop-content{
	width: 94px;
	height: 70px;
	margin-right: 10px;
}
.mobile-pop-logo{
	width: 72px;
	height: 72px;
	/*border: 1px solid #E7E7E7;*/
	margin-left: 6px;
}
.mobile-pop-item img{
	width: 70px;
	height: 70px;
	border: 1px solid #ccc;
}
.device{
	width: 82px;
	height: 25px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
}
.device a{
	width: 25px;
	height: 25px;
	background-image: url(../img/tubiao.png);
	background-position: 0 -26px;
	background-repeat: no-repeat;
	margin-right: 2px;
}
.device>a:nth-child(2){
    background-position: 0 0;
}
.device>a:nth-child(3){
    background-position: 0 -52px;
}
.nav-hd ul>li:nth-child(2):hover .mobile-pop{
	display: block;
}
.dropdown{
	width: 281px;
	height: 161px;

	border: 1px solid #ccc;
	/*border-top: 0;*/
	position: absolute;
	top: 29px;
	left: -1px;
	background-color: #fff;
	z-index: 999;
	display: none;
}
.nav-hd ul>li:nth-child(12):hover .dropdown{
	display: block;
}
.jdlist{
	width: 265px;
	height: 71px;
    padding: 10px 0 10px 15px;
    border-bottom: solid 1px #f1f1f1;
}
.fore1{
	width: 126px;
	/*height: 72px;*/
	float: left;
}
.fore2{
	width: 126px;
	/*height: 72px;*/
	float: right;
}
.jdlist .item a{
	font-size: 12px;
	color: #999;
	line-height: 24px;
}
.jdlist2{
	
	width: 265px;
	height: 49px;
    padding: 10px 0 10px 15px; 
}
.jdlist2 .item a{
	font-size: 12px;
	color: #999;
	line-height: 24px;
}
.dropdown1{
	width: 157px;
	height: 70px;
	position: absolute;
	border: 1px solid #ccc;
	/*border-top: 0;*/
	background-color: #fff;
	top: 29px;
	left: -1px;
	display: none;
}
.dropdown1 .jdlist{
	width: 142px;
	height: 50px;
}
.dropdown1 .jdlist .fore1{
	width: 71px;
	height: 50px;

}
.dropdown1 .jdlist .fore2{
   width: 71px;
	height: 50px;
}
.nav-hd ul>li:nth-child(10):hover{
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
}
.nav-hd ul>li:nth-child(10):hover .dropdown1{
	display: block;
}
.nav-hd li a{

	text-decoration: none;
	font-size: 12px;
	color: #999;
	display: inline-block;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	line-height: 30px;

}
.dropdown2{
	width: 172px;
	height: 236px;
	position: absolute;
	border: 1px solid #ccc;
	/*border-top: 0;*/
	background-color: #fff;
	top: 29px;
	right: -1px;
	padding: 10px 0;
	display: none;
}
.client{
	padding-left: 15px;
	font-size: 12px;
	color: #666;
	font-weight: 700;
}
.dropdown2 .jdlist{
	width: 157px;
	height: 94px;
}
.dropdown2 .jdlist2{
	width: 157px;
	height: 62px;
}
.dropdown2 .jdlist .fore1,.fore2{
	width: 78px;
}
.dropdown2 .jdlist2 .fore1,.fore2{
	width: 78px;
}
.client2{
	padding-top: 10px;
	padding-left: 15px;
	font-size: 12px;
	color: #666;
	font-weight: 700;
}
.nav-hd ul>li:nth-child(6):hover {
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
}
.nav-hd ul>li:nth-child(6):hover .dropdown2{
	display: block;
}
.dropdown3{
	width: 1188px;
	height: 162px;
	padding: 15px 0;
    background-color: #fff;
	position: absolute;
	top: 29px;
	right: -77px;
	border: 1px solid #ccc;
	display: none;
}
.fore3{
	width: 347px;
	height: 162px;
    border-right: 1px solid #eee;
	float: left;
	padding-left: 20px;
}
.dropdown3>.fore3:nth-child(n+2){
	width: 257px;
	padding-left: 15px;
}
.dropdown3>.fore3:nth-child(n+2) dd{
	width: 257px;
}
.fore3 dt{
	margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    color: #666;
}
.fore3 dd{
	width: 350px;
	height: 147px;
}
.fore3 dd .item{
	width: 82px;
	display: inline-block;
}
.nav-hd ul>li:nth-child(4):hover {
	border: 1px solid #ccc;
	border-bottom: 0;
	background-color: #fff;
}
.nav-hd ul>li:nth-child(4):hover .dropdown3{
	display: block;
}
.nav-hd li.beijing{
	padding-left: 0px;
	float: left;
}
.nav-hd li a:hover{
	color: #F10215;
}
/*小导航栏右侧结束*/
/*大导航栏上半部分*/
.nav-hd2{
	width: 1190px;
	height: 140px;
	margin: 0 auto;
}
.nav-hd3{
	width: 1190px;
	height: 70px;
	/*float: right;*/
}
.erweima{
	width: 67px;
	height: 67px;
	float: right;
}

.gouwuche{
	width: 185px;
	height: 31px;
	float: right;
	margin: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	color: #f10214;
	position: relative;
	background-color: #fff;
	/*border: 1px solid #e3e4e5;*/
}
.cartup{
	width: 185px;
	height: 31px;
	/*float: right;*/
	font-size: 12px;
	text-align: center;
	line-height: 33px;
	color: #f10214;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #e3e4e5;
	z-index: 80;
}
.sign{
	width: 14px;
	height: 14px;
	background-color: #f10214;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	right: 40px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 14px;

}
.cart-empty{
	width: 308px;
	height: 69px;
	position: absolute;
	right: -1.5px;
	top: 31px;
	background-color: #fff;
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 69px;
	box-shadow: 1px 2px 1px rgba(0,0,0,.1);
	border: 1px solid #ccc;
    display: none;

}
.cart-empty img{
	display: inline-block;
    vertical-align: middle;
    width: 56px;
    height: 49px;
}
.gouwuche:hover .cartup{
	border-bottom: 0;
	border-color: #ccc;
}
.gouwuche:hover .cart-empty{
   display: block;
}

.fuxuankuang{
	width: 500px;
	height: 39px;
	border-top: 1px #F0F3EF solid;
	float: right;
	margin-top: 30px;

}
.fuxuankuang .wenben{
	width: 496px;
	height: 28px;
    border: 0;
    outline: none;
}
.fuxuankuang .sousuo{
	width: 46px;
	height: 30px;
	/*margin-top: 5px;*/
}
.sousuo1{
	width: 46px;
	height: 30px;
	float: right;
	margin-top: 30px;


}
.sousuo.iconfont{
	font-size: 26px;
	color: #fff;
}
.sousuo{
	width: 46px;
	height: 28px;
	border: 0;
	background-color: #f10215;
}
/*大导航栏上半部分结束*/
/*大导航栏*/
.nav-hd4{
	width: 1190px;
	height: 70px;
}
.nav-hd4 ul.hd4-1{
	width: 538px;
	height: 26px;
	margin:0 auto;
}
.nav-hd4 ul.hd4-1 li{
	float: left;
	height: 26px;
	
}
.nav-hd4 ul.hd4-1 li a{
	display:block;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 26px;
}

.head-navup{
	width: 1190px;
	height: 26px;

}
.nav-hd4 ul.hd4-1 li a{
	text-decoration: none;
	font-size: 10px;
	color: #999;
}
.nav-hd4 ul.hd4-1 li a:hover{
	color: #F10215;
}
.nav-hd4 ul.hd4-2{
	width: 762px;
	height: 44px;
	/*margin:0 auto;*/
	float: right;
}
.nav-hd4 ul.hd4-2 li{
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
.nav-hd4 ul.hd4-2 li a{
	text-decoration: none;
	font-size: 14px;
	color: #333;
	line-height: 44px;
}
.nav-hd4 ul.hd4-2 li a:hover{
	color: #F10215;
}
.head-nav{
	width: 1190px;
	height: 44px;
}
.jingxi{
	width: 185px;
	height: 38px;
	float: right;
}
/*大导航栏结束*/
/*京东主体部分*/
.main{  /*banner部分*/
	width: 1190px;
	height: 480px;
	margin: 2px auto 0;
	position: relative;
	/*border-top: 1px #ccc black;*/
}
.fs-act{
	width: 250px;
	height: 470px;
	position: absolute;
	top: 10px;
	left: -250px;
}
.act2{
	/*width: 790px;*/
	width: 0px;
	height: 470px;
	position: absolute;
	top: 0;
	left: 250px;
	background-color: red;
	z-index: 999;
	transition: all 0.6s;
	overflow: hidden;
}
.fs-act:hover .act2{
	width: 790px;
}
.mainzuo{  /*banner部分左边列表*/
	width: 190px;
	height: 460px;
	background-color: #fff;
	padding: 10px 0;
	float: left;
	position: relative;
}
.mainzuo li{
    width: 170px;
	height: 27px;
	padding-left: 20px;

}
.mainzuo li:hover {
	background-color: #D9D9D9;
}

.mainzuo li a{
	text-decoration: none;
	color: #636363;
	font-size: 12px;
	display: inline-block;
}
.mainzuo li a:hover{
	color: #C81623;
}
.popCtn{
	width: 998px;
	height: 448px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 190px;
	z-index: 999;
	padding: 20px 0 10px;
	border: 1px solid #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
    display: none;

}
.col1{
	width: 800px;
	height: 420px;
	float: left;
}
.channel{
	width: 780px;
	height: 24px;
	padding-left: 20px;
}
.col1 .channel a{
	display: block;
	float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    background-color: #5c5251;
    color: #fff;
}
.detail{
	width: 800px;
	height: 396px;
	padding: 10px 0 0 20px;
	background-color: #fff;
	overflow: hidden;
}
.detail-item{
	width: 700px;
	/*height: 22px;*/
	position: relative;
    padding-left: 60px;
}
.detail-item dt{
	overflow: hidden;
    position: absolute;
    left: 0;
    top: 5px;
    width: 54px;
    height: 20px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.detail-item dt a{
	text-align: right;
    font-weight: 700;
    white-space: nowrap;
    color: #666;
    font-size: 12px;
}
.detail-item  dd{
	width: 700px;
	/*height: 22px;*/
	display: block;
	overflow: hidden;
    padding: 5px 0;
}
.detail-item  dd a{
	/*display: inline-block;*/
	float: left;
    margin: 3px 0;
    padding: 0 10px;
    height: 16px;
    border-left: 1px solid #e0e0e0;
    line-height: 16px;
    white-space: nowrap;
}
.col2{
	width: 198px;
	height: 424px;
	float: right;
}
.cate-brand{
	width: 168px;
	height: 144px;
	margin: 0 auto;
	padding: 0;
}
.cate-promotion{
	width: 168px;
	height: 269px;
	margin: 10px auto 0;
}
.col2 .cate-brand .brand1{
	width: 100%;
	height: 35px;
	margin-bottom: 1px;
}
.col2 .cate-brand .brand1 a{
	margin: 0;
	width: 80px;
	height: 35px;
	margin: 0 0 1px 1px;
	padding: 0;
}
.col2 .cate-promotion a{
	display: block;
	width: 168px;
	height: 134px;
	margin-bottom: 1px;
}
.col2 .cate-promotion a img{
	width: 168px;
	height: 134px;
}

.mainzhong1{ /*banner图*/
	width: 590px;
	height: 470px;
	margin: 10px 10px 0;
	float: left;
	position: relative;
}
.slider-item{
	width: 590px;
	height: 470px;
	display: block;

}
.slider-item img{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.6s;

}
.slider-item>img:nth-child(1){
	z-index: 10;
}
.btn-left{
	width: 24px;
	height: 40px;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 30;
	text-align: center;
	line-height: 40px;
	
	color: hsla(0,0%,100%,.4);
}
.btn-left i{
	font-size: 20px;
}
.btn-right{
	width: 24px;
	height: 40px;
	background-color: rgba(0,0,0,.2);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	z-index: 30;
	text-align: center;
	line-height: 40px;
	
	color: hsla(0,0%,100%,.4);
}
.btn-right:hover{
	background-color: rgba(0,0,0,.5);
}
.btn-left:hover{
	background-color: rgba(0,0,0,.5);
}
.btn-right i{
	font-size: 20px;
}
.slider-indicators{
	width: 152px;
	height: 18px;
	position: absolute;
	left: 46px;
	bottom: 20px;
	z-index: 30;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider-indicators span{
	
	width: 6px;
	height: 6px;
	border: 2px solid hsla(0,0%,100%,.4);
	border-radius: 50%;
	margin-right: 4px;

}
.slider-indicators span.active{
	width: 8px;
	height: 8px;
	background-color: #fff;
	border: 2px solid #b9beba;
	
}

.mainzhong2{
	width: 190px;
	height: 480px;
	margin-right: 10px;
	float: left;
}

.banner1{
	width: 190px;
	height: 150px;
	position: relative;
}
.banner1:after{
	content:"";
	display: block;
	width: 190px;
	height: 150px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.banner1:hover:after{
	opacity: 0.2;
}
.banner2{
	width: 190px;
	height: 150px;
	margin: 15px 0;
	position: relative;
}
.banner2:after{
	content:"";
	display: block;
	width: 190px;
	height: 150px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.banner2:hover:after{
	opacity: 0.2;
}
.banner3{
	width: 190px;
	height: 150px;
	position: relative;
}
.banner3:after{
	content:"";
	display: block;
	width: 190px;
	height: 150px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.banner3:hover:after{
	opacity: 0.2;
}
.mainyou{   /*京东右侧注册登录界面*/
	width: 190px;
	height: 480px;
	background-color: #fff;
	float: left;
	position: relative;
}
.a7{  /*京东小头像*/
	width: 89px;
	height: 67px;
	margin: -7px auto 0;
}
.a8{   /*欢迎来到京东*/
	width: 170px;
	height: 20px;
	display: block;
	margin: 0 auto;
	color: #888;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}
.a9{  /*登录注册*/
	width: 60px;
	height: 16px;
	margin: 0 auto;
}
.a10{   /*登录*/ 
	width: 28px;
	height: 16px;
    float: left;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #888;
}
.a11{   /*注册*/
	width: 28px;
	height: 16px;
    float: left;
    margin-left: 4px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: #888;
}
/*登录注册的移入移出*/
.a10:hover{
    color: #F10215;
}
.a11:hover{
    color: #F10215;
}
/*右侧新人福利 会员按钮*/
.a12{
	width: 150px;
	height: 25px;

	margin: 10px auto;
}
.a13{
	width: 70px;
	height: 25px;
	border-radius: 10px;
	background-color: #fff;
	float: left;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	color: #F10215;
}
.a13:hover{
	color: #fff;
	background-color: #F10215;
}
.a14{
	width: 70px;
	height: 25px;
	border-radius: 10px;
	background-color: #363634;
	text-decoration: none;
	text-align: center;
	float: left;
	margin-left: 10px;
	font-size: 12px;
	line-height: 25px;
	color: #E5D790;
}
.a14:hover{
	color: #fff;
	background-color: #F10215;
}
.content-iframe{
	width: 190px;
	height: 144px;
	position: absolute;
	bottom: 52px;
	left: 0;
	display: none;
}
.a15{
	width: 160px;
	height: 26px;
	margin: 5px auto 0;
	font-size: 12px;
	font-size: 12px;
}
.cu{   /*促销*/
	color: #333;
	text-decoration: none;
	float: left;
    line-height: 26px;
}
.gon{ /*公告*/
	color: #333;
	text-decoration: none;
	float: left;
	line-height: 26px;
}
.gen{ /*更多*/
	color: #333;
	text-decoration: none;
	float: right;
	line-height: 26px;
}
/*右侧界面列表部分*/
.a16{
	width: 160px;
	height: 88px;
	margin: 5px auto 0;
}
.a16 a{
	padding: 3px 0;
	display: block;
	font-size: 12px;
	color: #666;
	text-decoration: none;
	line-height: 16px;
}
.a17{
	width: 160px;
	height: 20px;
	margin: 5px auto 0;
}
.a17 li{
	text-align: center;
	float: left;
	width: 35px;
	height: 20px;
	color: #666;
	font-size: 12px;
	margin-left: 5px;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.a17 li:hover{
    color: #F10215;
}
.a18{
	width: 160px;
	height: 96px;
	margin: 10px auto;
}
.a19{
	float: left;
}
.a20{
	float: right;
}
.cuxiao{
	color: #F10215;
	text-decoration: none;
	float: left;
	line-height: 26px;
}
/*右侧界面列表部分结束*/
/*主体部分第二排*/
.main2{
	width: 1190px;
	height: 275px;
	margin: 30px auto;
}
.main2zuo{
	width: 194px;
	height: 275px;
	margin-right: 1px;
	float: left;
}
.sk-hd-lk{
	display: block;
	width: 194px;
	height: 274px;
	background-color: #e83632;
	text-decoration: none;
	border-top: 1px solid rgba(0,0,0,0);
}
.sk-title{
	margin-top: 42px;
	font-size: 34px;
	color: #fff;
	text-align: center;
}
.subtit{
	color: rgba(255, 255, 255, 0.5);
	font-size: 20px;
	text-align: center;

}
.sk-ico{
	width: 20px;
	height: 33px;
	margin: 5px auto 0;
	background-image: url(../img/ico.png);
	background-position: -35px -25px;

}
.sk-desc{
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin: 10px 0;
}
.sk-cd{
	width: 135px;
	height: 40px;
	margin: 24px auto;
	display: flex;
	justify-content: space-between;
}
.sk-cd div{
	width: 40px;
	height: 40px;
	background-color: #2f3430;
	position: relative;
}
.sk-cd div::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #e83632;
}
.sk-cd span{
	color: #fff;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	display: block;
	width: 26px;
	height: 26px;
	margin: 7px auto;
}
.main2zhong{
	width: 800px;
	height: 275px;
	margin-right: 1px;
	float: left;
	position: relative;
	overflow: hidden;
}
.slider-wrapper{
	width: 2400px;
	height: 275px;
	transition: all 0.6s;
	position: absolute;
	top: 0;
	left: 0;
}
.prev{
	width: 20px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	left: 0;
	text-align: center;
	line-height: 40px;
	color: hsla(0,0%,100%,.4);
	background-color: rgba(0,0,0,.15);
}
.prev:hover{
    background-color: rgba(0,0,0,.4);
}
.next:hover{
    background-color: rgba(0,0,0,.4);
}
.next{
	width: 20px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	text-align: center;
	line-height: 40px;
	color: hsla(0,0%,100%,.4);
	background-color: rgba(0,0,0,.15);
}

.main2you{
	width: 194px;
	height: 275px;
	/*padding: 8px 10px 7px;*/
	float: left;
	background-color: #fff;
	position: relative;
	
}
.main2you a{
	display: block;
	width: 179px;
	height: 260px;
	margin: 8px auto;
	position: relative;
	overflow: hidden;
}

.main2you img{
	width: 179px;
	height: 260px;
	position: absolute;
	top: 0;
	left: 179px;
}
.indicators{
	width: 28px;
	height: 14px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 16px;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot{

	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #c0c0c0;
	margin-left: 4px;
}
.active2{
	background-color: #e33333;
}
.a1{
	width: 199px;
	height: 274px;
	border-top: 1px white solid;
	border-right: 1px #F0F3EF solid;
	background-color: #fff;
	float: left;
}
.a1tu{
	width: 140px;
	height: 140px;
	margin: 30px auto 30px;
}
.a1 a{
	text-decoration: none;
	display: block;
	font-size: 10px;
	color: #666;
	width: 180px;
	height: 20px;
	margin: 0 auto 15px;
}
.a1 a:hover{
    color: #E6382F;
}
.jiage{
	width: 160px;
	height: 20px;
	border:1px #E6382F solid;
	margin: 0 auto;
}
.jiagezuo{
	width: 80px;
	height: 21px;
	background-color: #E6382F;
	float: left;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.jiageyou{
	width: 80px;
	height: 20px;
	background-color: #fff;
	float: left;
	color: #b7bcb8;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: line-through;

}
/*主体部分第二排结束*/
/*主体部分第三排*/
.main3{
	width: 1190px;
	height: 450px;
	margin: 0 auto;
}
.main3zuo{
	width: 390px;
	height: 450px;
	background-color: #fff;
	float: left;
}
.slider-indicators3{
	width: 121px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 115px;
	
	bottom: 0;
}
.dot3{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
    border: 2px solid #b9beba;
    margin-left: 4px;
}
.main3zhong{
	width: 390px;
	height: 450px;
	background-color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.main3you{
	width: 390px;
	height: 450px;
	background-color: #fff;
	float: left;
}
.b1{
	width: 350px;
	height: 63px;
	padding: 0 20px;
	background-color: #fff;
}

.b1 a{
	width: 350px;
	height: 60px;
	display: block;
}
.b1 a h3{
	float: left;
	line-height: 60px;
	font-weight: normal;
	font-size: 22px;
	color: #222;
}
.b1 a h3 i{
	font-size: 24px;
	color: #e83632;
	font-weight: 600;
}
.b1 a p{
	float: left;
	line-height: 60px;
	font-size: 14px;
	color: #999;
}
.b2{
	width: 390px;
	height: 34px;
	background-color: #F7F7F7;
}
.b2 a{
	width: 78px;
	height: 34px;
	font-size: 12px;
	float: left;
	text-decoration: none;
	line-height: 34px;
	text-align: center;
	color: rgb(102,102,102);

}
.b2>a:nth-child(1){
	color: #e33333;
}
/*.b2 a:hover{
	color: #e33333;
}*/
.tab-boty-item{
	width: 350px;
	height: 321px;
	margin: 0 auto;
	position: relative;
}
.tab-boty-item>.top-list:nth-child(1){
	display: block;
}
.top-list{
	width: 350px;
	height: 353px;
	margin: 0 auto;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	display: none;
}

.top-list-main{
	width: 350px;
	height: 321px;
    position: absolute;
    top: 0;
    left: 350px;
}
.b3{
	width: 350px;
	height: 107px;

	margin: 0 auto;
}
.b3-1{
	text-decoration: none;
	width: 120px;
	height: 107px;
	float: left;
	display: flex;
	justify-content: space-between;
	align-items: center;
    
}
.b3-1 img{

	width: 80px;
	height: 80px;

}
.rank{
    width: 30px;
    height: 40px;
    /*margin: 36px 0 0 10px;*/
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-family: 'impact';
    color: #e74240;
}

.b3-2{
	width: 230px;
	height: 32px;
	font-size: 12px;
	text-decoration: none;
	color: #333;
	float: left;
	padding-top: 36px;
}
.b3-2:hover{
	color: #F10215;
}
.b4{
	width: 350px;
	height: 107px;
	margin: 0 auto;
	border-bottom: 1px #F5F5F5 solid;
}
.b4-1{
	width: 121px;
	height: 32px;
	margin: 0 auto;
}
.b5{
	width: 350px;
	height: 63px;
	padding: 0 20px;
	background-color: #fff;
}
.b5 a{
	width: 350px;
	height: 60px;
	display: block;
}
.b5 a h3{
	float: left;
	line-height: 60px;
	font-weight: normal;
	font-size: 22px;
	color: #222;
}
.b5 a h3 i{
	font-size: 24px;
	color: #e83632;
	font-weight: 600;
}
.b5 a p{
	float: left;
	line-height: 60px;
	font-size: 14px;
	color: #999;
}
.b5-1{
	width: 350px;
	height: 355px;
	margin: 0 auto;
	border-bottom: 1px #F5F5F5 solid;
}
.b5-1 a{
	display: block;
	width: 350px;
	height: 355px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
.daily-slider{
	width: 350px;
	height: 355px;
	position: absolute;
	top: 0;
	left: 350px;

}
.sliderimg{
	width: 350px;
	height: 128px;
}
.daliyitem{
	width: 350px;
	height: 105px;
	background: red;
	display: flex;
	justify-content: space-between;
}
.daliyitem img{
	width: 350px;
	height: 105px;
}
.daily-title{
	width: 100%;
	display: inline-block;
	line-height: 58px;
    font-size: 18px;
    text-align: center;
    color: #222;
    font-weight: bolder;
}
.daily-slider p{
	font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin: 0 auto 0;
    text-align: center;
    overflow: hidden;
    color: #222;
}
.slider-indicators2{
	width: 121px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot2{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
    border: 2px solid #b9beba;
    margin-left: 4px;
}


.b6{
	width: 350px;
	height: 63px;
	padding: 0 20px;
	background-color: #fff;
}
.b6 a{
	width: 350px;
	height: 60px;
	display: block;
}
.b6 a h3{
	float: left;
	line-height: 60px;
	font-weight: normal;
	font-size: 22px;
	color: #222;
}
.b6 a h3 i{
	font-size: 24px;
	color: #e83632;
	font-weight: 600;
}
.b6 a p{
	float: left;
	line-height: 60px;
	font-size: 14px;
	color: #999;
}
.b6-1{
	width: 350px;
	height: 355px;
	margin: 0 auto;
	border-bottom: 1px #F5F5F5 solid;
}
.box-bd{
	width: 350px;
	height: 355px;
	margin: 0 auto;
	border-bottom: 1px #F5F5F5 solid;
	overflow: hidden;
	position: relative;
}
.box-bd .box-bd-item{
	display: block;
	/*background-color: pink;*/
	width: 350px;
	height: 355px;

}
.box-bdmain{
	transition: all 0.6s;
	width: 700px;
	height: 355px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
}
.conpon-lk{
	display: block;
	width: 350px;
	height: 118px;
	background-color: red;
	text-decoration: none;
	background: #f6f6f6;
	position: relative;
	border-radius: 6px;
}
.lazyimg{
	float: left;
    margin: 14px 0 0 10px;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 50%;
	background-color: #fff;
}
.lazyimg img{
	width: 70px;
	height: 70px;
}
.coupon-infor{
	/*background-color: red;*/
	width: 168px;
	height: 100px;
    padding-top: 15px;
    /*margin: 0 72px 0 110px;*/
    float: left;
    margin-left: 8px;
}
.mod-price{
	/*margin: 20px 5px 0;*/
	width: 168px;
	height: 38px;

}
.mod-price>span:nth-child(1){
	font-size: 16px;
	margin-right: 3px;
    font-family: 'impact';
    /*font-weight: 400;*/
    font-weight: bolder;
    color: #e33333;
}
.mod-price>span:nth-child(2){
	font-size: 34px;
	
    color: #e33333;
}
.coupon-limit{
	color: #b1b3b0;
    font-size: 14px;
    line-height: 24px;
    height: 24px; 
}
.coupon-desc{
	color: #767b77;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.coupon-more{
	width: 23px;
	height: 98px;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: #333;
}
.ball{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	right: 53px;
}
.ball2{
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: -10px;
	right: 53px;
}
.box-bd-item>a:nth-child(2){
	 background: #eeefed;
}
.slider-indicators4{
	width: 121px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot4{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
    border: 2px solid #b9beba;
    margin-left: 4px;
}

.b5-2{
	width: 121px;
	height: 32px;
	margin: 0 auto;
}
/*主体部分第三排结束*/
/*主体部分第四排*/
.main4{
	width: 1190px;
	height: 450px;
	margin: 30px auto;
}
.main4zuo{
	width: 390px;
	height: 450px;
	background-color: #fff;
	float: left;
}
.b7{
	width: 350px;
	height: 63px;
	padding: 0 20px;
	background-color: #fff;
}
.b7 a{
	width: 350px;
	height: 60px;
	display: block;
}
.b7 a h3{
	float: left;
	line-height: 60px;
	font-weight: normal;
	font-size: 22px;
	color: #222;
}
.b7 a h3 i{
	font-size: 24px;
	color: #e83632;
	font-weight: 600;
}
.b7 a p{
	float: left;
	line-height: 60px;
	font-size: 14px;
	color: #999;
}
.b7-1{
	width: 350px;
	height: 355px;
	margin: 0 auto;
	border-bottom: 1px #F5F5F5 solid;
	overflow: hidden;
	
}
.mi-main{
	width: 350px;
	height: 355px;
	position: relative;
}
.b7-1 a{
	display: block;
	width: 350px;
	height: 355px;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 350px;

}
.b7-1 span{
	display: block;
	text-align: center;
	font-size: 16px;
    color: #333;
    height: 50px;
    line-height: 56px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.b7-1  p{
	font-size: 14px;
    color: #999;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
.slider-indicators9{
	width: 121px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot9{
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
    border: 2px solid #b9beba;
    margin-left: 4px;
}
.active3{
	width: 8px;
	height: 8px;
    border-color: #FDD9DD;
    background: #eb3436;
}
.main4zhong{
	width: 390px;
	height: 450px;
	background-color: #fff;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
.c1{
	width: 360px;
	height: 332px;
	margin: 26px auto;
	background-color: black;
}
.c1-up{
	width: 360px;
	height: 166px;
	background-color: #fff;
}
.c1-down{
	width: 360px;
	height: 166px;
	background-color: #fff;
}
.c1-zuo{
	width: 180px;
	height: 166px;
	float: left;
}
.c1-you{
	width: 180px;
	height: 166px;
	float: left;
}
.c1-zuo a.c1tu{
	width: 110px;
	height: 110px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.c1-zuo a.c1tu:after{
	content:"";
	display: block;
	width: 110px;
	height: 110px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c1-zuo a.c1tu:hover:after{
	opacity: 0.2;
}
.c1zi{
	width: 180px;
	height: 16px;
	display: block;
	text-decoration: none;
	font-size: 14px;
	color: #3e8c96;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
.c1zi2{
	width: 180px;
	height: 14px;
	display: block;
	color: #666;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
    margin-top: 4px;

}
.c2{
	width: 364px;
	height: 373px;
	margin: 0 auto;
	position: relative;
}
.c2:after{
	content:"";
	display: block;
	width: 364px;
	height: 373px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c2:hover:after{
	opacity: 0.2;
}
.c1 a:hover{
	color: #F10215;
}
/*主体部分第四排结束*/
/*主体部分第五排*/
.main5{
	width: 1190px;
	height: 65px;
	background-color: #F0F3EF;
	margin: 0 auto;
	text-align: center;
}
.main5 h1{
    font-size: 28px;
    color: #222;
    font-weight: normal;
}
/*主体部分第五排结束*/
/*主体部分第六排*/
.main6{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;

}
.c3{
	 width: 350px;
	 height: 180px;
	 margin: 0 auto;
}
.c3-1{
	width: 170px;
	height: 180px;
	float: left;
	position: relative;
}
.c3-1:after{
	content:"";
	display: block;
	width: 170px;
	height: 180px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c3-1:hover:after{
	opacity: 0.2;
}
.c3-2{
	width: 170px;
	height: 180px;
	float: right;
	position: relative;
}
.c3-2:after{
	content:"";
	display: block;
	width: 170px;
	height: 180px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c3-2:hover:after{
	opacity: 0.2;
}
.c4{
	width: 348px;
	height: 176px;
	background-color: #fff;
	margin: 10px auto 0;
	border:1px #EBEAEA solid;
	border-bottom: none;
	border-right: none;
}
.c4-1{
	width: 348px;
	height: 58px;
}
.c41{
	width: 86px;
	height: 57px;
	border-right: 1px #EBEAEA solid;
	border-bottom: 1px #EBEAEA solid;
	float: left;
}
.c42{
	width: 86px;
	height: 57px;
	border-right: 1px #EBEAEA solid;
	border-bottom: 1px #EBEAEA solid;
	float: left;
}
.c43{
	width: 86px;
	height: 57px;
	border-right: 1px #EBEAEA solid;
	border-bottom: 1px #EBEAEA solid;
	float: left;
}
.c44{
	width: 86px;
	height: 57px;
	float: left; 
	border-bottom: 1px #EBEAEA solid;
}
.c6{
	width: 390px;
	height: 450px;
	position: relative;

}
.c6:after{
	content:"";
	display: block;
	width: 390px;
	height: 450px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c6:hover:after{
	opacity: 0.2;
}
/*主体部分第六排结束*/
/*主体部分第七排*/
.main7{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;
}
.c7{
	width: 390px;
	height: 200px;
	border-bottom: 10px #F0F3EF solid;
}
.c8{
	width: 390px;
	height: 220px;
}
.c7-1{
	width: 350px;
	height: 19px;

	margin: 20px auto 0;
}
.c71{
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #222;
}
.c72{
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	color: #666;
}
.c7-1-1{
	width: 150px;
	height: 19px;
}
.c7-2{
	width: 285px;
	height: 130px;
	margin: 30px auto 0;

}
.c7-2-1{
	width: 130px;
	height: 130px;
	float: left;
	position: relative;
}
.c7-2-1:after{
	content:"";
	display: block;
	width: 130px;
	height: 130px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c7-2-1:hover:after{
	opacity: 0.2;
}
.c7-2-2{
	width: 130px;
	height: 130px;
	float: left;
	margin-left: 25px;
	position: relative;
}
.c7-2-2:after{
	content:"";
	display: block;
	width: 130px;
	height: 130px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c7-2-2:hover:after{
	opacity: 0.2;
}
.c8{
	width: 350px;
	height: 180px;
	margin: 0 auto;
	position: relative;
}
.c8:after{
	content:"";
	display: block;
	width: 350px;
	height: 180px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c8:hover:after{
	opacity: 0.2;
}
.c9{
	width: 350px;
	height: 180px;
	margin: 0 auto;
	margin-top: 10px;
    position: relative;
}
.c9 a{
	display: block;
	position: relative;
}
.c9 a:after{
	content:"";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c9 a:hover:after{
	opacity: 0.2;
}

/*主体部分第七排结束*/
/*主体部分第八排*/
.main8{
	width: 1190px;
	height: 65px;
	background-color: #F0F3EF;
	margin: 0 auto;
	text-align: center;
}
.main8 h1{
    font-size: 28px;
    color: #222;
    font-weight: normal;
}
/*主体部分第八排结束*/
/*主体部分第九排*/
.main9{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;
}
.c9-1{
	float: left;
	position: relative;
}
.c9-1:after{
	content:"";
	display: block;
	width: 170px;
	height: 180px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c9-1:hover:after{
	opacity: 0.2;
}
.c9-2{
	float: right;
	position: relative;
}
.c9-2:after{
	content:"";
	display: block;
	width: 170px;
	height: 180px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c9-2:hover:after{
	opacity: 0.2;
}
.c11{
	width: 350px;
	height: 411px;
	margin: 20px auto;
}
.c10{
	width: 350px;
	height: 45px;

}
.c10-2{
	padding: 0 5px;
	line-height: 45px;
	text-decoration: none;
	float: left;
	font-size: 18px;
	color: #333;
}
.c10-1{
	float: left;
}
.c12{
	width: 350px;
	height: 226px;
	margin: 20px auto;
	position: relative;
}
.c12:after{
	content:"";
	display: block;
	width: 350px;
	height: 226px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c12:hover:after{
	opacity: 0.2;
}
.c13{
	width: 350px;
	height: 100px;
	margin: 20px auto 0;
}
.c13 a{
	float: left;
	position: relative;
}
.c13 a:after{
	content:"";
	display: block;
	width: 100px;
	height: 100px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.c13 a:hover:after{
	opacity: 0.2;
}
.c13-1{
	margin-left: 23px;
	margin-right: 27px;
}
/*主体部分第九排结束*/
/*主体部分第十排*/
.main10{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;
}
/*主体部分第十排结束*/
/*主体部分第十二排*/
.main12{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;
}
/*主体部分第十二排结束*/
/*主体部分第十一排*/
.main11{
	width: 1190px;
	height: 65px;
	background-color: #F0F3EF;
	margin: 0 auto;
	text-align: center;
}
.main11 h1{
    font-size: 28px;
    color: #222;
    font-weight: normal;
}
/*主体部分第十一排结束*/
/*主体部分第十三排*/
.main13{
	width: 1190px;
	height: 450px;
	margin: 0 auto 30px;
}
/*主体部分第十三排结束*/
/*主体部分第十四排*/
.main14{
	width: 1190px;
	height: 65px;
	background-color: #F0F3EF;
	margin: 0 auto;
	text-align: center;
}
.main14 h1{
    font-size: 28px;
    color: #222;
    font-weight: normal;
}
/*主体部分第十四排结束*/
/*主体部分第十五排*/
.main15{
	width: 1190px;
	height: 305px;
	margin: 0 auto 10px;

}
.f1{
	width: 230px;
	height: 304px;
	border-top: 1px #fff solid;
	background-color: #fff;
	float: left;
	position: relative;
}
.more-find{
	width: 230px;
	height: 100px;
	background-color: rgba(255,255,255,0);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all 0.6s;
	
}
.black{
	width: 60px;
	height: 60px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 20px auto;
	background-color: rgba(34, 34, 34, 0.85);
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 12px;
	opacity: 0;
	transition: all 0.3s;
	overflow: hidden;

}
.f1:hover .more-find{
	background-color: rgba(255,255,255,0.7);
}
.f1:hover .black{
	/*width: 60px;
	height: 60px;*/
	opacity: 1;
}
.f1-1{
	display: block;
	width: 170px;
	height: 170px;
	margin: 30px;
	position: relative;
}
.f1-1:after{
	content:"";
	display: block;
	width: 170px;
	height: 170px;
	background-color: #fff;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.6s;
}
.f1-1:hover:after{
	opacity: 0.2;
}
.f2{
	width: 230px;
	height: 75px;
}
.f2-2{
	display: block;
	text-decoration: none;
	color: #666;
	font-size: 14px;
	padding: 0 10px;
}
.f2 a:hover{
	color: #F10215;
}
.f3{
	width: 60px;
	text-decoration: none;
	color: #F10215; 
	display: block;
	margin: 10px auto 0;
}
.f4{
	width: 230px;
	height: 304px;
	border-top: 1px #fff solid;
	background-color: #fff;
	float: left;
	margin-left: 10px;
	position: relative;
}
.f4:hover .more-find{
	background-color: rgba(255,255,255,0.7);
}
.f4:hover .black{
	/*width: 60px;
	height: 60px;*/
	opacity: 1;
}
/*主体部分第十五排结束*/
/*京东主体部分结束*/
/*京东尾部*/
.footer{
    width: 1190px;
	height: 42px;
	margin: 30px auto;

}
.footer li{
	width: 297px;
	height: 42px;
	float: left;
}
.footer li h3{
    float: left;
	height: 42px;
	line-height: 42px;
}
.footer li img{
	float: left;
}
.footer li div{
	width: 196px;
	height: 42px;
	margin: 0 auto;
}
.footer-2{
	height: 200px;
	border-top: 1px #dedede solid;
    
}
.footer-3{
	width: 1190px;
	height: 160px;
	margin: 20px auto;
	/*background-color: black;*/
}
.footer-3-1{
	width: 198px;
	height: 160px;
	/*background-color: red;*/
	float: left;
}
.footer-3-1 h5{
	width: 198px;
	height: 22px;
	margin-bottom: 5px;
	font-size: 14px;
}
.footer-3-1 a{
	text-decoration: none;
	color: #666;
	font-size: 12px;
}
.footer-3-1-1{
	text-align: center;
}
.footer-3 a:hover{
	color: #E6382F;

}
.footer-4{
	width: 1190px;
	height: 48px;
	margin: 0 auto;
	border-top: 1px #dedede solid;
}
.footer-4-1{
	width: 1190px;
	height: 18px;
	margin: 15px 0;
}
.footer-4-1 ul{
	width: 1110px;
	margin: 0 auto;
}
.footer-4-1 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-1 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-1 li a:hover{
	color: #E6382F;
}
.footer-4-2{
	width: 1190px;
	height: 16px;
	margin: 0 auto 5px;

}
.footer-4-2 ul{
	width: 800px;
	margin: 0 auto;
}
.footer-4-2 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-2 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-2 li a:hover{
	color: #E6382F;
}
.footer-4-3{
	width: 1190px;
	height: 16px;
	margin: 0 auto 5px;

}
.footer-4-3 ul{
	width: 880px;
	margin: 0 auto;
}
.footer-4-3 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-3 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-3 li a:hover{
	color: #E6382F;
}
.footer-4-4{
	width: 1190px;
	height: 16px;
	margin: 0 auto 5px;

}
.footer-4-4 ul{
	width: 735px;
	margin: 0 auto;
}
.footer-4-4 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-4 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-4 li a:hover{
	color: #E6382F;
}
.footer-4-5{
	width: 1190px;
	height: 16px;
	margin: 0 auto 5px;

}
.footer-4-5 ul{
	width: 440px;
	margin: 0 auto;
}
.footer-4-5 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-5 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-5 li a:hover{
	color: #E6382F;
}
.footer-4-6{
	width: 1190px;
	height: 16px;
	margin: 0 auto 5px;

}
.footer-4-6 ul{
	width: 212px;
	margin: 0 auto;
}
.footer-4-6 li{
	float: left;
	font-size: 12px;
	color: #666;
}
.footer-4-6 li a{
	text-decoration: none;
	font-size: 12px;
	color: #666;
	padding-left: 10px;
	padding-right: 10px;

}
.footer-4-6 li a:hover{
	color: #E6382F;
}
.footer-5{
	width: 618px;
	height: 32px;
	margin: 30px auto;

}
.footer-5-1{
	width: 103px;
	height: 32px;
	float: left;
}
.g1{
	display: inline-block;
	width: 72px;
	height: 32px;
	line-height: 16px;
	text-decoration: none;
	font-size: 12px;
	color: #666;
}
.g2{
	width: 31px;
    height: 32px;
    float: left;
}
/*京东尾部结束*/
/*滚动条*/
.jdm-toolbar{
	position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-right: 6px solid #7a6e6e;
    transition: right .3s ease-in-out 0s; 
    z-index: 1000;
}
.roll{
	display: none;
	z-index: 999;
}
.jdm-toolbar-tabs{
	width: 34px;
	height: 252px;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto 0;
	right: 0;
	z-index: 2000;

}
.tab-ico{
	width: 34px;
	height: 35px;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
	background-image: url(../img/roll.png);
	background-repeat: no-repeat;
	margin-bottom: 1px;
    background-position: -88px -175px;
    position: relative;


}
.jdm-toolbar-tabs>.tab-ico:nth-child(2){
	background-position: -50px 0;
}
.jdm-toolbar-tabs>.tab-ico:nth-child(3){
	background-position: -50px -50px
}
.jdm-toolbar-tabs>.tab-ico:nth-child(4){
	background-position: -50px -100px;
}
.jdm-toolbar-tabs>.tab-ico:nth-child(5){
	background-position: -190px -150px;
}
.jdm-toolbar-tabs>.tab-ico:nth-child(6){
	background-position: -50px -150px;
}
.jdm-toolbar-tabs>.tab-ico:nth-child(7){
	background-position: -50px -300px;
}
.tab-text{
	width: 0;
    /*width: 62px;*/
    height: 35px;
    position: absolute;
    top: 0;
    right: 32px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: 微软雅黑;
    z-index: 1;
    border-radius: 3px 0 0 3px;
    /*background-color: #c81623;*/
    background-color: #7a6e6e;
    font-size: 12px;
    overflow: hidden;
    transition: all 0.3s;
}
.top{
	width: 34px;
	height: 35px;
	background-color: #7a6e6e;
	border-radius: 3px 0 0 3px;
	background-image: url(../img/roll.png);
	background-repeat: no-repeat;
	background-position: -50px -250px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2000;
}
.tab-ico:hover{
	background-color: #c81623;
}
.tab-ico:hover .tab-text{
	background-color: #c81623;
   width: 62px;

}
.top:hover{
	background-color: #c81623;
}
.top:hover .tab-text{
	background-color: #c81623;
   width: 62px;

}

.search-fix{
	width: 100%;
	height: 0;
	/*height: 48px;*/
	background-color: #fff;
	border-bottom: 2px solid rgba(0,0,0,0);
	/*box-shadow: 2px 2px 2px rgba(0,0,0,.2);*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	overflow: hidden;
	transition: all 0.6s;

}
.search-m{
	width: 1190px;
	height: 47px;
	margin: 0 auto;
	border-top: 1px solid rgba(0,0,0,0);
}
.search-logo{
	width: 125px;
	height: 40px;
	float: left;
	margin-top: 4px;
}
.search-logo a{
	display: block;
	width: 125px;
	height: 40px;
	background-image: url(../img/searchlogo.png);
	background-repeat: no-repeat;
    background-position: -195px 0;
}
.form{
	width: 550px;
	height: 40px;
	margin: 4px auto 0;
}
.form .sousuo1{
	margin: 0;
}
.form .fuxuankuang{
	margin: 0;
}
.form .sousuo1 input{
	height: 33px;
}
.form .fuxuankuang input{
	height: 32px;
	background-color: #efefef;

}